<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 根标签 -->
<configuration>

    <properties>
        <property name="driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
        <property name="url" value="jdbc:sqlserver://localhost:1433;database=salary_management_system"/>
        <property name="username" value="SA"/>
        <property name="password" value="123456Spf"/>
    </properties>

    <settings>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- 环境，可以配置多个，default：指定采用哪个环境 -->
    <environments default="development">
        <!-- id：唯一标识 -->
        <environment id="test">
            <!-- 事务管理器，JDBC类型的事务管理器 -->
            <transactionManager type="JDBC" />
            <!-- 数据源，池类型的数据源 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
                <property name="url" value="jdbc:sqlserver://localhost:1433;database=salary_management_system" />
                <property name="username" value="SA" />
                <property name="password" value="123456Spf" />
            </dataSource>
        </environment>
        <environment id="development">
            <!-- 事务管理器，JDBC类型的事务管理器 -->
            <transactionManager type="JDBC" />
            <!-- 数据源，池类型的数据源 -->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" /> <!-- 配置了properties，所以可以直接引用 -->
                <property name="url" value="${url}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
            </dataSource>
        </environment>
    </environments>
    
    <mappers>
        <mapper resource="mapper/DepartmentMapper.xml"/>
        <mapper resource="mapper/EmployeeMapper.xml"/>
        <mapper resource="mapper/EmployeeSalaryMapper.xml"/>
        <mapper resource="mapper/EmployeeSalaryAddMapper.xml"/>
        <mapper resource="mapper/EmployeeSalarySubMapper.xml"/>
        <mapper resource="mapper/AdminMapper.xml"/>
        <mapper resource="mapper/UsersMapper.xml"/>
    </mappers>


</configuration>
